.main-header {
    background: $color-darker;
    font-size: 1.66rem;
    padding: 1.6rem 0;
    font-weight: bolder;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-family: "Raleway";
    }
}