.main-form {
    background-color: $color-darker;
    color: $color-white;

    &__legend {
        font-size: 1.2rem;
        font-weight: bolder;
        line-height: 2;
    }

    fieldset {
        width: 100%;
    }

    input, textarea {
        width: 100%;
        background-color: $color-dark;
        border: none;
        font-size: 1.2rem;
        font-weight: bolder;
        line-height: 1.5;
        color: $color-white;
        padding-left: 1rem;
        margin: 0.5rem 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        gap: 1rem;
        padding-bottom: 2rem;

        @media screen and (min-width: 570px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__button {
        padding: 10px;
        border: none;
        &--circle {
            border-radius: 50%;
            background: #41A4E6;
        }

        &--block {
            width: 100%;
            display: inline-block;
            color: white;
            background: $color-light;
        }
    }

    span, legend {
        line-height: 2;
        font-size: 1.2rem;
    }
}